<div class="d-flex flex-column min-vh-100">
    <footer class="footer py-3 text-white w100" id="pb-col" data-bs-theme="">
        <div class=" text-center pb-col bold">
            <span class="pb-col">
                &copy PeakyBlogger 2025
            </span>
            <a class="notd" href="/">Home</a> | 
            <a class="notd" href="/homehub">Homehub</a> | 
            <a class="notd" href="/about">About</a> | 
            <a class="notd" href="/https://www.tripadvisor.co.uk/Restaurants-g186354-Peak_District_National_Park_England.html">Favourite Eating Spots</a> | 
            <a class="notd" href="/walks">Favourite Walks</a> |
            <a class="notd" href="https://www.youtube.com/user/DavidBattye">Vlogs</a> |
            <a class="notd" href="/contact">Contact Me | Socials</a>
        </div>
    </footer>
</div>