<% layout('layouts/boilerplate') %>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css'>
<link rel="stylesheet" href="/stylesheets/about.css">

    <header class="rounded">
        <div class="animate__animated animate__slideInDown">
            <div class="walk_jumb rounded shadow" >
                <div class="container rounded">
                    <h1 class="pb-col pt-2 pb-0 m-auto"> 
                        <i class="fas fa-tree fa-2x"></i><i class="fas fa-utensils fa-2x"></i>
                        About my site, myself and my forthcoming adventures
                    </h1>
                    <p style="text-align: center;">Might have built it up a little too much there..</p>
                </div>
            </div>
        </div>
    </header>
    <div class="about mb-5" style="color: #41533b;">
        <section class="wrappery">
            <div class="boxy aa animate__animated animate__bounceInLeft">
                <div class="z-idx">
                    <p>This web app can show you on a map where the places are, but for the exact walking trails-there are loads of websites giving routes and (downloadable) maps. </p> <br>
                    <p>They are many years ahead of me in that respect. My first thought in setting this up was to give those weary travellers on foot a nice spot to have lunch with some good views. </p>
                </div>
            </div>
            <div class="boxy bb animate__animated animate__bounceInRight">
                <div class="z-idx">
                    <p>Picture of Dad in his glory</p>
                </div>
            </div>
            <div class="boxy cc animate__animated animate__bounceInRight">
                <div class="z-idx">
                    <p>Since then I’ve thought that I could add a few more features because we have all got different reasons for going on a walk.</p>
                </div>
            </div>
            <div class="boxy dd animate__animated animate__bounceInLeft">
                <div class="z-idx">
                    <p>This web site is aimed at giving you some idea of where the best places to eat are in the Peak District. </p>
                </div>
            </div>
            <div class="boxy ee animate__animated animate__bounceInUp">
                <div class="z-idx">
                    <p>I’ll also give you an idea where some of the best walks are but I’m not going to give you a route map  just general directions, a bit of description and a few photos taken in all weathers</p>
                </div>
            </div>
            <div class="boxy ff animate__animated animate__flip">
                <div class="z-idx">
                    <p>Born: 20th Century</p>
                    <p>Raised: Yorkshire</p>
                    <p>Educated: Holme Valley Grammar, then UCL</p>
                    <p>Currently resides: O'er the hills and far away</p>
                </div>
            </div>
        </div>
    </div>