:root {
    --pb-col: #41533b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;  /* changed from height*/
    max-width: 100%;
    background-image: url("/images/background.webp");
    background-size: 350% !important; /* was cover */
    background-position: top;
}
footer {
    position: absolute;
    bottom: auto;
    margin-top: 1rem;
}

.walk_jumb {
    background-image: url('/images/english_sillhouette.webp');
    height: 30vh;
    background-size: cover;
    background-position: left 75%;
    background-repeat: no-repeat;
    margin-top: -1rem;
}
.about {
    box-sizing: border-box;
}
.wrappery{
    display: grid;
    grid-gap: 1.25rem;
    grid-template-areas: 
    'a a b'
    'a a c'
    'd e f';
    padding-top: 10px;
    font-family: 'Work Sans', serif;
    color: #41533b;
    margin: 0;
}
.boxy {
    position: sticky;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: var(--pb-col);
    color: #fff;
    text-shadow: cyan 1px 0 10px;
    border-radius: 15px;
    /* padding-bottom: 1rem; */
    font-size: 125%;
    opacity: 0.925;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.boxy:hover {
    opacity: 0.825;
    /* border: 2px solid white; */
    scale: 1.05;
    z-index: 50;
    transition: 0.5s;
}

/* .boxbtn {
    transition: color 1.25s;
    transition: scale() 1.25s;
}
.boxbtn:hover {
    color: rgb(27, 121, 214);
    transform: scale(1.25);
} */
  
.aa {
    grid-area: a;
    background-size: cover;
    background-position: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    z-index: 2;
}
.bb {
    grid-area: b;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    z-index: 2;
}  
.cc {
    grid-area: c;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    z-index: 2;
}
.dd {
    grid-area: d;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    z-index: 2;
}
.ee {
    grid-area: e;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    z-index: 2;
}
.ff {
    grid-area: f;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    z-index: 2;
}

/* ##Device = Desktops */
@media (min-width: 1281px) {
    body {
        background-size: 105% 125%;
    }
}

/*  ##Device = Laptops, Desktops  */
@media (min-width: 1025px) and (max-width: 1280px) {
    body {
        background-size: 170%;
    }
}

/* ##Device = Tablets, Ipads (portrait)  */
@media (min-width: 768px) and (max-width: 1024px) {
    body {
        background-size: 285%;
    }
}

/* ##Device = Tablets, Ipads (landscape)  */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    body {
        background-size: 225%;
    }
    h1 {
        font-size: 2rem;
    }
    p {
        font-size: 1.25rem;
    }
    .walk_jumb {
        height: 35vh;
        padding: 2.5rem;
    }
}

/* ##Device = Low Resolution Tablets, Mobiles (Landscape) */
@media (min-width: 481px) and (max-width: 767px) {
    /* body {
        background-size: 425%;
    } */
    .container,
    nav ul {
        display: grid;
        margin-bottom: 1rem;
    }
    .walk_jumb {
        height: 35vh;
        padding: 2rem;
    }
    .wrapper, .wrappery {
        display: grid;
        margin-bottom: 10px;
        row-gap: 10px;
        column-gap: 10px;
        grid-template-areas: 
        'a'
        'b'
        'c'
        'd'
        'e'
        'f';
  }
  nav {
      padding-bottom: 1rem 0;
  }
  .footer{
    display: inline-block;
    padding-top: 10px;
    margin-bottom: -10rem;
  }
  .margt {
    margin-top: 10rem;
    position: relative;
  }
}

/*  ##Device = Most of the Smartphones Mobiles (Portrait) */
@media (min-width: 320px) and (max-width: 480px) {
    body {
        background-size: cover;
    }
    a .btn {
        font-size: 0.5rem;
    }
    .walk_jumb {
        height: 40vh;
        padding: 2rem;
        background-size: auto 150%;
    }
    .container,
    nav ul{
        display: grid;
        margin-bottom: 1rem;
    }
    .wrapper, .wrappery {
        display: grid;
        margin-bottom: 10px;
        row-gap: 10px;
        column-gap: 10px;
        grid-template-areas: 
        'a'
        'b'
        'c'
        'd'
        'e'
        'f';
    }
    .footer{
        display: block;
        padding-top: 10px;
        margin-bottom: 0rem;
    }
}

@media (min-width: 200px) and (max-width: 319px){

} 