body{
    background-image: url('/images/english_sillhouette.jpeg');
    background-size: 333%;
    background-position: top;
    color: #41533b;
    /* line-height:1.6; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer {
    position: absolute;
    bottom: auto;
}
.wrapper{
    box-shadow: 0 3px 4px 2px rgba(68, 83 , 59, 0.3);
}

.shadow {
    color: #41533b;
    text-shadow: 2px 4px 3px rgba(68, 83 , 59, 0.3);
    box-shadow: 0 2px 4px 0px rgba(68, 83 , 59, 0.3);
}

.back {
    background-image: url('/images/english_combine_harvester.jpeg');
    background-size: 105%;
    background-position: top;
    width: 100%;
    height: 15rem;
    border-radius: 2.5rem;
    padding: 3rem;
}
.woodlandgreen {
    background-color: #41533b;  
}
.woodlandgreen:hover {
    color: darkslategrey;
}

/* .email {
    backdrop-filter: blur(7.5px);
} */

.emailform {
    width: 77%; 
    margin: auto;
}

/* LARGE SCREENS */
@media(min-width:700px){
.wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

}