body {
    min-height: 100vh;
    background-image: url("/images/background.webp");
    background-size: 150%;
    background-position: top;
    background-repeat: no-repeat;
}

footer {
    margin-top: auto;
}

.pageoneone { 
    background-image: url("/images/english_sillhouette.webp");
    height: 30vh;
    background-size: cover;
    background-position: left 75%;
    background-repeat: no-repeat;
    margin-top: -1rem;
    margin-bottom: 1rem;
}

.gallery {
    height: 22vh;
}

.gallerytop {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.gallerybottom {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.tdn {
    text-decoration: none;
}

.onh:hover {
    color: rgb(27, 121, 214);
}

.bold {
    font-weight: 550;
}

/* --- Media Queries --- */
@media (min-width: 768px) and (max-width: 1024px) {
    body {
        background-size: 325%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    /* Targets the h1 inside pageoneone smoothly */
    .pageoneone {
        margin-top: -2.25rem;
        padding: 0;
        padding-top: -5.25rem;
        height: 37vh;
    }
    .pageoneone h1 {
        font-size: 2.25rem; 
    }
    .pageoneone p {
        font-size: 1.25rem; 
    }
    
    /* Optional: Scale down those massive 2x FontAwesome icons so they don't crowd the text on wide, short screens */
    .pageoneone h1 i {
        font-size: 2.25rem;
    }
}


@media (min-width: 320px) and (max-width: 480px) {
    body {
        background-size: 450%;
    }
    h1 {
        font-size: 1.2rem;
        font-weight: bold;
    }
    p {
        font-size: 1rem;
    }
}

