body {
    min-height: 100vh;
    /* background-image: url("/images/background.jpg"); */
    background-size: 190%;
    background-position: top;
    background-repeat: no-repeat;
    box-sizing: border-box;
}
.footer, footer {
    position: absolute;
    margin-top: 15rem;
}
.mapstyleh {
    width: 100%;
    height: 85vh;
    margin-top: -2rem;
}
.mgt {
    margin-top: -0.25rem;
}
.map-shad {
    box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.4),
     -5px -5px 10px rgba(255, 255, 255, 0.8),
     10px 10px 10px rgba(65, 83, 59, 0.9),
      5px 5px 10px rgba(65, 83, 59, 0.5);
}
.map-shad-inset {
    box-shadow: inset -10px -5px 5px white, inset 10px 10px 5px #41533b;
}

/* media */
/* ##Device = Desktops */
@media (min-width: 1281px) {

}

/*  ##Device = Laptops, Desktops  */
@media (min-width: 1025px) and (max-width: 1280px) {

}

/* ##Device = Tablets, Ipads (portrait)  */
@media (min-width: 768px) and (max-width: 1024px) {

}

/* ##Device = Tablets, Ipads (landscape)  */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

/* ##Device = Low Resolution Tablets, Mobiles (Landscape) */
@media (min-width: 481px) and (max-width: 767px) {

}

/*  ##Device = Most of the Smartphones Mobiles (Portrait) */
@media (min-width: 320px) and (max-width: 480px) {
  body {
    min-height: 100vh;
    background-size: 275%;
    background-position: top;
  }
  .mapstyleh {
    width: auto;
    height: 75vh;
    margin-top: -2rem;
}
  footer {
    /* position: relative; */
    margin-bottom: 135rem;
  }
}

@media (min-width: 200px) and (max-width: 319px){

}